/ {
    gpio_output {
        compatible = "gpio-leds";

        bat_read_enable_pin: bat_read_enable_pin {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "GPIO pin to enable reading of battery voltage";
        };
    };

    gpio_input {
        compatible = "gpio-leds";

		magnet_pin: magnet_pin {
			gpios = <&gpio0 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;  /* D0 */
			label = "Magnetic sensor pin (HE/reed)";
		};
    };

	aliases {
		magnet-pin = &magnet_pin;
        bat-read-en-pin = &bat_read_enable_pin;
	};
};
