{% extends 'base.html' %}

{% block content %}
    <div class="flex-container">
        <div class="split">
            <h2>Object Position</h2>

            <p id="u_pos_text"> 
                Unfiltered: <span id="u_pos">No Data</span>
            </p>
            <p id="k_pos_text">
                Kalman: &nbsp;&nbsp;&nbsp;&nbsp;<span id="k_pos">No Data</span>
            </p>

            <div id="grid">
                <div id="u_dot"></div>
                <div id="k_dot"></div>
            </div>
            <br><br>
            <h2>Send commands</h2>
            <div class="flex-container">
                <form id="sendCommand" method="GET" action="/send_command">
                    <input type="text" class="command" id="command" name="command">
                    <button type="submit">Send Command</button>
                </form>
                <form id="updateFromDevice" method="GET" action="/update_from_dev">
                    <button type="submit" name="update" value="yes">
                        Update Beacon List from Device
                    </button>
                </form>
            </div>
            <br><br>
            <h2>Available Commands</h2>
            <p class="command-help">ibeacon add_arb (name) (address) (major) (minor) (x) (y)
                [left-name] [right-name] - Updates arbitrary nodes available on right</p>
            <p class="command-help">ibeacon remove_arb (address) - Removes arbitrary nodes shown</p>
            <br>
            <p class="command-help">All other shell commands can be interfaced to directly from this website</p>
            <p class="command-help">Make sure to click "Update Beacons List from Device" after adding/removing arbitrary nodes</p>
            <br>
            <h2>Logs</h2>
            <div>
                <textarea class="logbox" id="logbox" readonly ></textarea>
            </div>

            <script>window.enabledBeacons = {{ enabled | tojson }};</script>
            <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
        </div>
        <div class="split right-dock">
            <h2>Multilaterative beacons</h2>

            <form id="beaconList_table" method="GET" action="/update_beacons">
            <table class="right-dock styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MAC Address</th>
                        <th>Major</th>
                        <th>Minor</th>
                        <th>Enabled</th>
                    </tr>
                </thead>

                <tbody>
                    <tr {% if '4011-A' in enabled %}class="enabled"{% endif %}>
                        <td>4011-A</td>
                        <td>F5:75:FE:85:34:67</td>
                        <td>2753</td>
                        <td>32998</td>
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-A" {% if '4011-A' in enabled %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr {% if '4011-B' in enabled %}class="enabled"{% endif %}>
                        <td>4011-B</td>
                        <td>E5:73:87:06:1E:86</td>
                        <td>32975</td> 
                        <td>20959</td> 
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-B" {% if '4011-B' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                    <tr {% if '4011-C' in enabled %}class="enabled"{% endif %}>
                        <td>4011-C</td>
                        <td>CA:99:9E:FD:98:B1</td>
                        <td>26679</td>
                        <td>40363</td>
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-C" {% if '4011-C' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                    <tr {% if '4011-D' in enabled %}class="enabled"{% endif %}>
                        <td>4011-D</td>
                        <td>CB:1B:89:82:FF:FE</td>
                        <td>41747</td>
                        <td>38800</td>
                        <td>
                            <input type="checkbox" name="enabled"
                               value="4011-D" {% if '4011-D' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                    <tr {% if '4011-E' in enabled %}class="enabled"{% endif %}>
                        <td>4011-E</td>
                        <td>D4:D2:A0:A4:5C:AC</td>
                        <td>30679</td>
                        <td>51963</td>
                        <td>
                            <input type="checkbox" name="enabled"
                                value="4011-E" {% if '4011-E' in enabled %}checked{% endif %}>
                        </td>
                    </tr>        
                    <tr {% if '4011-F' in enabled %}class="enabled"{% endif %}>
                        <td>4011-F</td>
                        <td>C1:13:27:E9:B7:7C</td>
                        <td>6195</td>
                        <td>18394</td>
                        <td>
                            <input type="checkbox" name="enabled"
                                value="4011-F" {% if '4011-F' in enabled %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr {% if '4011-G' in enabled %}class="enabled"{% endif %}>
                        <td>4011-G</td>
                        <td>F1:04:48:06:39:A0</td>
                        <td>30525</td>
                        <td>30544</td>
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-G" {% if '4011-G' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                    <tr {% if '4011-H' in enabled %}class="enabled"{% endif %}>
                        <td>4011-H</td>
                        <td>CA:0C:E0:DB:CE:60</td>
                        <td>57395</td>
                        <td>28931</td>
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-H" {% if '4011-H' in enabled %}checked{% endif %}>
                        </td>
                    </tr>                                  
                    <tr {% if '4011-I' in enabled %}class="enabled"{% endif %}>
                        <td>4011-I</td>
                        <td>D4:7F:D4:7C:20:13</td>
                        <td>60345</td>
                        <td>49995</td>
                        <td>
                            <input type="checkbox" name="enabled"
                                value="4011-I" {% if '4011-I' in enabled %}checked{% endif %}>
                        </td>
                    </tr>                                   
                    <tr {% if '4011-J' in enabled %}class="enabled"{% endif %}>
                        <td>4011-J</td>
                        <td>F7:0B:21:F1:C8:E1</td>
                        <td>12249</td>
                        <td>30916</td>
                        <td>
                            <input type="checkbox" name="enabled" 
                                value="4011-J" {% if '4011-J' in enabled %}checked{% endif %}>
                        </td>
                    </tr>                                    
                    <tr {% if '4011-K' in enabled %}class="enabled"{% endif %}>
                        <td>4011-K</td>
                        <td>FD:E0:8D:FA:3E:4A</td>
                        <td>36748</td>
                        <td>11457</td>
                        <td>
                            <input type="checkbox" name="enabled"
                                value="4011-K" {% if '4011-K' in enabled %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr {% if '4011-L' in enabled %}class="enabled"{% endif %}>
                        <td>4011-L</td>
                        <td>EE:32:F7:28:FA:AC</td>
                        <td>27564</td>
                        <td>27589</td>
                        <td>
                            <input type="checkbox" name="enabled"
                               value="4011-L" {% if '4011-L' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                    <tr {% if '4011-M' in enabled %}class="enabled"{% endif %}>
                        <td>4011-M</td>
                        <td>F7:3B:46:A8:D7:2C</td>
                        <td>49247</td>
                        <td>52925</td>
                        <td>
                            <input type="checkbox" name="enabled"
                                value="4011-M" {% if '4011-M' in enabled %}checked{% endif %}>
                        </td>
                    </tr> 
                </tbody>
            </table>
            </form>

            <br><br>

            <div class="buttons right-dock">
                <button type="submit" form="beaconList_table">
                    Send Beacon List
                </button>
                <button type="button" onclick="toggleAll()">
                    Toggle All
                </button>
                <br><br>
            </div>

            <br><br>
            <hr>

            <h2>Arbitrary beacons</h2>
            <table class="styled-table" style="margin: 0px auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MAC Address</th>
                        <th>Major</th>
                        <th>Minor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arb in arbs %}
                    <tr>
                        <td>{{ arb["name"] }}</td>
                        <td>{{ arb["address"] }}</td>
                        <td>{{ arb["major"] }}</td>
                        <td>{{ arb["minor"] }}</td>
                    </tr>
                    {% endfor %}      
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
