.command-help {
  font-family: 'Cascadia Mono';
  margin: 0px auto;
}

.command {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  padding: 10px;
  margin: 0px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #009879;
  color: #ffffff;
  border-radius: 10%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
  background-color: #009879;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 2px 0px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

h2 {
  font-size: 2em;
  margin-top: 0em;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: -1px;
  color: red;
}

.container {
  margin: 0 50px;
}

/* Split the screen in half */
.flex-container {
  display: flex;
}

.split {
  margin: 10px 20px;
}

.right-dock {
  margin-left: auto;
  float: right;
  text-align: center;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li + li {
  margin-left: 35px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 8px 8px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.enabled {
    font-weight: bold;
    color: #009879;
}

#grid {
  margin-top: 50px;
  margin-left: 30px;
  position: relative;
  width: 900px;
  height: 340px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* ensures visible outer edge */

  background:
    repeating-linear-gradient(
      0deg,
      #ddd,
      #ddd 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      #ddd,
      #ddd 1px,
      transparent 1px,
      transparent 20px
    );
}

#u_dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

#k_dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: blue;
  border-radius: 50%;
}

#u_pos_text {
  color: red;
  margin-bottom: 0;
  font-family: 'Cascadia Mono';
  font-size: 1.2em;
} 

#k_pos_text {
  color: blue;
  margin-top: 0;
  font-family: 'Cascadia Mono';
  font-size: 1.2em;
} 

#logbox {
  width: 900px;
  margin-left: 30px;
  height: 200px;
  resize: none;
  font-family: 'Cascadia Mono';
  overflow-y: scroll;
}

.buttons {
    width:100%;
    text-align: center;
}
